*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI, sans-serif;
    background:#0f172a;
    color:white;
    overflow-x:hidden;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
}

.hero-content{
    z-index:2;
}

.hero h1{
    font-size:4rem;
    margin-bottom:20px;
}

.hero h1 span{
    color:#38bdf8;
}

.hero h2{
    font-size:2rem;
    height:60px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    color:#cbd5e1;
    line-height:1.8;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 30px;
    background:#38bdf8;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-3px);
}

.cursor{
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

.floating-circle{
    position:absolute;
    border-radius:50%;
    background:rgba(56,189,248,0.15);
    animation:float 8s infinite ease-in-out;
}

.circle1{
    width:250px;
    height:250px;
    top:10%;
    left:10%;
}

.circle2{
    width:150px;
    height:150px;
    bottom:15%;
    right:15%;
}

.circle3{
    width:100px;
    height:100px;
    top:60%;
    left:20%;
}

@keyframes float{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-25px);
    }
    100%{
        transform:translateY(0);
    }
}