body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f8;
}

/* Header */
header {
    text-align: center;
    background: #0078D7;
    color: white;
    padding: 40px;
    animation: fadeIn 2s;
}

.buttons {
    margin-top: 15px;
}

.btn {
    text-decoration: none;
    background: white;
    color: #0078D7;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

.btn:hover {
    background: #005fa3;
    color: white;
}

/* Sections */
.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    animation: slideUp 1s;
}

h2 {
    color: #0078D7;
}

/* Form */
input, textarea {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

button {
    background: #0078D7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}